<head>
	  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

<!-- Optional theme -->
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css"> -->
<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
  <link href='http://fonts.googleapis.com/css?family=Raleway:600,400,300' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Share+Tech+Mono' rel='stylesheet' type='text/css'>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="/css/results.css">
</head>
<body>
	<img src="//c1.staticflickr.com/1/726/21052126822_dd43df1dc9_z.jpg" style="padding:7px;">
<%@all_responses.where({:employer_id => 1}).each do |r|%>
<style>
.<%=r.x%><%=r.y%>{
	position: absolute;
	top: <%=r.y%>;
	left: <%=r.y%>;
}

</style>
<!-- <div class="<%=r.x%><%=r.y%>"> -->
<!-- <img src="http://images.clipartpanda.com/dot-com-clipart-dot-clipart-8e5a5a7ed9284c00a7bc45f2ad1ea8e8VPJ1OJ.png" height="20px" width="20px" coords="100, 100, 100"> -->
<img style="position: absolute; top:<%=r.y%>; left:<%=r.x%>" src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e9/Locator_Dot.svg/2000px-Locator_Dot.svg.png" height="20px" width="20px">
<!-- </div> -->
<%end%>
</body>